{% extends 'blog/base.html' %}

{% block content %}
    <h2><a href="{% url 'miniurl_edit' %}">Raccourcir une Url</a></h2>
    <h3>Liste des URLs raccourcies :</h3>
    <ul>
        {% for miniurl in miniurls %}
            <li>
                <a href="{% url "url_update" pk=miniurl.pk %}"><span class="glyphicon glyphicon-edit"></span></a> -
                <a href="{% url "url_delete" pk=miniurl.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                | {{ miniurl.longUrl }} via
                <a href="{% url 'miniurl_redir' code=miniurl.code %}">{{ request.get_host }}/{{ miniurl.code }}</a>
                {% if miniurl.pseudo != "" %}
                    par {{ miniurl.pseudo }}
                {% endif %}
                ( {{ miniurl.access }} accès)
            </li>
        {% empty %}
            <li>Il n'y en a pas actuellement.</li>
        {% endfor %}
    </ul>
    <div class="pagination">
        {% if miniurls.has_previous %}
            <a href="{% url 'miniurl_list' miniurls.previous_page_number %}">Précédente</a> -
        {% endif %}

        <span class="current">Page {{ miniurls.number }} sur {{ miniurls.paginator.num_pages }}</span>
        {% if miniurls.has_next %}
            - <a href="{% url 'miniurl_list' miniurls.next_page_number %}">Suivante</a>
        {% endif %}
    </div>
{% endblock content %}